//banner區塊
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper.mySwiper2{
  height: 518px;
  background-color: transparent;
}
@include media-breakpoint-down(md){
  .swiper.mySwiper2{
    height: 350px;
  }
}
.banner-outter{
  height: 518px;
  p{
    left: 48px;
    top: 48px;
  }
}
@include media-breakpoint-down(md){
  .banner-outter{
    p{
      left: 40px;
      top: 16px;
    }
  } 
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 32px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 32px;
}