<nav class="position-relative navbar navbar-expand-lg navbar-light bg-transprent py-md-7 py-3 border-3 border-bottom border-primary">
  <!-- <div class="border-3 border-top position-relative"> -->

  <div class="container" style="
    /* justify-content: start; */
    flex-wrap: nowrap;
">
    <a class="navbar-brand" href="./index.html">
      <h1 class="mb-0"><img class="logo" src="../assets/images/logo.png" alt="logo" height="53"></h1>
    </a>
    <div class="d-flex align-items-center me-5 d-none d-lg-flex">
      <span class="en-title fs-4 me-1">7TAO</span>
      <span class="ch-title fs-8">活動訂票網</span>
    </div>

    <!-- <div class="w-50 w-lg-25"> -->
      <form class="d-flex align-items-center w-50 w-lg-25">
        <input class="form-control border-primary py-md-5 ps-md-9 pe-md-0 py-2 ps-3 border border-2 search-input" type="search" placeholder="探索活動" aria-label="Search">
        <a class="d-flex align-items-center text-secondary bg-primary search" href="#">
          <i class="icofont-search-1 search-icon"></i>
        </a>
        
      </form>
      <div class="ms-auto d-none d-lg-block">
          <ul class="fs-18 d-none d-lg-flex list-unstyled mb-0 pt-7 pb-3 py-lg-0">
              <li class="me-md-4 py-0 py-lg-0 mb-5 mb-lg-0"><a href="register.html" class="navLink d-flex align-items-center fs-7"><i class="icofont-ui-file me-1 "></i><span>REGISTER</span></a></li>
              <li class="py-0 py-lg-0 mb-0"><a href="login.html" class="navLink d-flex align-items-center fs-7"><span><i class="icofont-ui-user me-1"></i></span><span>LOGIN</span></a></li>
          </ul>
        </div><!-- </div> -->
    <button class="navbar-toggler hamburger d-block d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
  <!-- <div class="collapse border-3 border-top" id="navbarSupportedContent">
    <ul class="menu navbar-nav ms-auto mb-0 pt-7 pb-3 py-lg-0">
      <li class="nav-item me-md-4 py-0 py-lg-0 mb-5 mb-lg-0"><a href="#" class="d-md-block fs-7"><i class="icofont-ui-file me-1"></i>REGISTER</a></li>
      <li class="nav-item py-0 py-lg-0 mb-0"><a href="./login.html" class="fs-7 d-md-block"><i class="icofont-ui-user me-1"></i>LOGIN</a></li>
    </ul>
  </div> -->
  <!-- </div> -->
</nav>
<div class="nav navbar-collapse d-lg-none collapse border-bottom border-3 border-primary" id="navbarSupportedContent" style="">
  <ul class="menu navbar-nav ms-md-auto mb-0 py-lg-0 py-9 px-3">
    <li class="nav-item me-md-4 py-0 py-lg-0 mb-5 mb-lg-0"><a href="#" class="d-md-block fs-7"><i class="icofont-ui-file me-1"></i>REGI1STER</a></li>
    <li class="nav-item py-0 py-lg-0 mb-0"><a href="./login.html" class="fs-7 d-md-block"><i class="icofont-ui-user me-1"></i>LOGIN</a></li>
  </ul>
</div>