<!-- <nav class="navbar navbar-expand-lg navbar-light bg-transprent  border-bottom border-primary border-3 py-4 flex-nowrap">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo.png" alt="logo"  height="53">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  d-lg-block" id="navbarSupportedContent">
      <div class="d-flex align-items-center me-5 d-none d-md-flex">
        <span class="en-title fs-2">7TAO</span>
        <span class="ch-title fs-6">活動訂票網</span>
      </div>
      <form class="d-flex align-items-center">
        <input class="form-control rounded-0 border-primary py-3 ps-4 pe-0 border border-2 search-input" type="search" placeholder="探索活動" aria-label="Search">
        <div class="d-flex align-items-center bg-primary search">
          <a class="d-flex align-items-center text-secondary" href="#">
            <i class="icofont-search-1 search-icon"></i>
          </a>
        </div>
      </form>
      <ul class="menu navbar-nav me-auto">
        <li class="nav-item k me-md-4"><a href="#"><i class="icofont-ui-file me-1"></i>REGISTER</a></li>
        <li class="nav-item k"><i class="icofont-ui-user me-1"></i><a href="#">LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-transprent mb-md-8 mb-5 py-md-8 py-3 border-3 border-bottom border-primary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../assets/images/logo.png" alt="logo"  height="53">
    </a>
    <div class="d-flex align-items-center me-5 d-none d-lg-flex">
      <span class="en-title fs-4">7TAO</span>
      <span class="ch-title fs-8">活動訂票網</span>
    </div>
    <!-- <form class="d-flex align-items-center d-md-none">
      <input class="form-control rounded-0 border-primary py-3 ps-4 pe-0 border border-2 search-input" type="search"
        placeholder="探索活動" aria-label="Search">
      <div class="d-flex align-items-center bg-primary search">
        <a class="d-flex align-items-center text-secondary" href="#">
          <i class="icofont-search-1 search-icon"></i>
        </a>
      </div>
    </form> -->
    <div class="search-area">
      <form class="d-flex align-items-center">
        <input class="form-control rounded-0 border-primary py-md-5 ps-md-7 pe-md-0 py-2 ps-3 border border-2 search-input" type="search"
          placeholder="探索活動" aria-label="Search">
        <div class="d-flex align-items-center bg-primary">
          <a class="d-flex align-items-center text-secondary search" href="#">
            <i class="icofont-search-1 search-icon"></i>
          </a>
        </div>
      </form>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="menu navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item k me-md-4 py-3 py-lg-0"><a href="#"><i class="icofont-ui-file me-1"></i>REGISTER</a></li>
          <li class="nav-item k py-3 py-lg-0"><i class="icofont-ui-user me-1"></i><a href="#">LOGIN</a></li>
      </ul>

    </div>
  </div>
</nav>