//font
.noto-tc-serif {
  font-family: 'Noto Serif TC';
}

.noto-tc-sans {
  font-family: 'Noto Sans TC';
}
.online-activity{
  background-image: url(../images/event/online.jpg);
  background-position: center; 
  background-size: cover;
  height: 100%;
}
@include media-breakpoint-down(md){
  .online-activity{
    height: 158px;
  }
}
.min-height{
  min-height: calc(100vh - 87px);
}
@include media-breakpoint-down(md){
  .min-height{
    min-height: calc(100vh - 84px);
  }
}