//banner
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper.mySwiper2{
  height: 518px;
  background-color: transparent;
}
@include media-breakpoint-down(md){
  .mySwiper2{
    height: 350px;
  }
}
.banner-outter{
  height: 518px;
  h2{
    left: 48px;
    top: 48px;
  }
  p{
    top: 0;
  }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 32px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 32px;
}
//
.explore{
  width: 80px;
  height: 80px;
}
@include media-breakpoint-down(sm){
  .explore{
    width: 40px;
    height: 40px;
  }
}
.explore-title{
  line-height: 2.125rem;
}
@include media-breakpoint-down(sm){
  .explore-title{
    line-height: 1.5rem;
  }
}
.explore-border{
  padding: 35px 0;
}
@include media-breakpoint-down(sm){
  .explore-border{
    padding: 20px 0;
  }
}
.explore-more{
  // padding: 38px 0;
  span{
    line-height: 3.75rem;
  }
}
@include media-breakpoint-down(md){
  .explore-more{
    //  padding: 24px 0; 
    span{
      line-height: 2rem;
    }
  }
}
//font
.noto-tc-serif {
  font-family: 'Noto Serif TC';
}

.noto-tc-sans {
  font-family: 'Noto Sans TC';
}
//
@include media-breakpoint-down(sm){
  .logo{
    height:40px;
  }
}
.search-area{
  width: 25%;
}
@include media-breakpoint-down(md){
  .search-area{
    width: 50%;
  }
}
.test{
  // height: 255px;
}
.activity-img {
	width: 100%;
  height: 255px;
  object-fit: cover;
  object-position: center;
}
@include media-breakpoint-down(md){
  .activity-img{
    height: 210px;
  }
}
.online-activity{
  background-image: url(../images/event/online.jpg);
  background-position: center; 
  background-size: cover;
  height: 100%;
}
@include media-breakpoint-down(md){
  .online-activity{
    height: 158px;
  }
}
.tags{
  border-top: 1px solid #030303;
  border-bottom: 1px solid #030303;
  border-right: 1px solid #030303;
  border-left:4px solid #030303;
}


.btn-left {
	height: 24px;
	width: 24px;
}
//swiper
.swiper {
  background-color: #000;
}
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide.ad {
  line-height: 2.875rem;
  font-weight: 700;
  letter-spacing: 3.2px;
  width: auto;
  color: #fbff22;
}
@include media-breakpoint-down(md){
  .swiper-slide {
    line-height: 1.4375rem;
  }
}
.activity-collection{
  padding-top: 36.81px;
  padding-bottom: 54.78px;
}
@include media-breakpoint-down(md){
  .activity-collection{
    padding-top: 48px;
    padding-bottom: 43.03px;
  }
}

.activity-list {
	img {
		object-fit: cover;
		height: 274px;
	}
  h2{
    padding: 9.1px 16.52px;
  }
}
@include media-breakpoint-down(sm){
  .item {
    img {
      height: 267px;
    }
  }
 

}
.h2-transform {
	transform: translate(-50%, -50%) rotate(-4deg);
}

li{
  .rotate{
    transform: rotate(2deg);
  }
  .rotate-reverse {
     transform: rotate(-2deg);
   }
}

///
figure{
  padding-top: 60px;
  padding-bottom: 60px;
}
.blockquote{
  p{
    font-size: 2rem;
    line-height: 2.875rem;
  }
}
@include media-breakpoint-down(sm){
  .blockquote{
    p{
      font-size: 1.125rem;
      line-height: 1.625rem;
    }
  }
}
.blockquote-footer{
  font-size: 1.125rem;
  line-height: 1.625rem;
}
@include media-breakpoint-down(sm){
  .blockquote-footer{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
////
.date {
  padding: 14px 24px;
  h2 {
    margin: 0px;
    font-size: 22px;
  }
}
.time::before {
  content: "";
  width: 3px;
  height: 56px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
}

@media (min-width: 768px) {
  .date{
    padding: 48px 44px;
    h2 {
      margin-bottom: 126px;
      font-size: 48px;
    }
    p {
      font-size: 32px;
    }
    }

  .time::before {
    width: 2px;
    height: 80px;
  }
}
.slogn{
  font-style: 22px;
}