<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>結帳完成頁</title>
  <%- include('./layout/head'); -%>
</head>

<body>
  <%- include('./layout/header'); -%>
  <div class="container mb-md-13 mb-10 mt-md-14 mt-9">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <ol class="step d-flex justify-content-between list-unstyled pe-0 position-relative">
          <li class="d-flex flex-column align-items-center">
            <p class="number d-flex justify-content-center align-items-center step-active bg-primary mb-md-2 mb-1">
              <i class="icofont-verification-check"></i>
            </p>
            <p class="fw-bold mb-0">訂單確認</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <p class="number d-flex justify-content-center align-items-center mb-md-2 mb-1 step-active bg-primary">
              <i class="icofont-verification-check"></i>
            </p>
            <p class="fw-bold mb-0">結帳付款</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <p class="number d-flex justify-content-center align-items-center mb-md-2 mb-1 step-active bg-primary">3</p>
            <p class="fw-bold mb-0">訂單結果</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="border-bottom border-3 border-primary">
    <div class="container pb-md-14 pb-13">
      <div class="row justify-content-center">
        <h2 class="d-flex flex-column justify-content-center align-items-center mb-10">
          <i class="icofont-check-circled mb-md-5 mb-2 fs-md-3 fs-4" ></i>
          <span>訂購成功</span>
        </h2>
        <div class="col-md-6 checkout">
          <table class="table noto-tc-sans mb-md-5 complete">
            <thead>
              <tr>
                <th colspan="2" class="p-0"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="col">
                <th scope="row" class="noto-tc-serif">訂單編號</th>
                <td class="">
                  <div class="d-flex justify-content-end">
                    892746123
                  </div>
                </td>
              </tr>
              <tr class="col">
                <th scope="row" class="noto-tc-serif">訂購時間</th>
                <td>
                  <div class="d-flex justify-content-end">
                    2023/04/28 14:30
                  </div>
                </td>
              </tr>
              <tr class="col">
                <th scope="row" class="noto-tc-serif">票券</th>
                <td>
                  <div class="d-flex justify-content-end">
                    改頭換面票（含大改造）$8000
                  </div>
                </td>
              </tr>
              <tr class="col">
                <th scope="row" class="noto-tc-serif">取票序號</th>
                <td>
                  <div class="d-flex justify-content-end text-danger" >
                    95G54J4434
                  </div>
                </td>
              </tr>
              <tr class="col">
                <th scope="row" class="noto-tc-serif">取票號碼</th>
                <td>
                  <div class="d-flex justify-content-end text-danger" >
                    04597101
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p style="color: #4F4F4F;">請至 7-Eleven 完成取票，請於 ibon 點選【購票/取票/訂房】>【售票系統】>【取票】<br class="d-md-block d-none"> >【拓元售票系統】。<br>
            若您未前往取票，本筆交易仍視為完成，不可取消訂單。<br class="d-md-none d-block">
            若需退票，請按照退票辦法進行申請。</p>
        </div>
      </div>
    </div>
  </div>
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>