<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>登入頁</title>
  <link rel="stylesheet" href="../assets/icofont/icofont.min.css">
</head>

<body>
  <%- include('./layout/header'); -%>
  <div class="border-bottom border-3 border-primary">
    <div class="container">
      <div class="row justify-content-center login">
        <h2 class="d-flex flex-column justify-content-center align-items-center mb-8 fs-5 login">
          <img src="../assets/images/sparkler.png" class="mb-5" width="32" height="32" alt="">
          <span>會員登入</span>
        </h2>
        <div class="col-md-6">
          <form>
            <div class="mb-5">
              <label for="account" class="form-label">帳號</label>
              <input type="email" class="form-control py-2 ps-5 fs-6 border-primary border-3 border" id="account" aria-describedby="emailHelp" placeholder="請輸入帳號">
            </div>
            <div class="mb-8">
              <label for="exampleInputPassword1" class="form-label">密碼</label>
              <input type="password" class="form-control py-2 ps-5 fs-6 border-primary border-3 border" id="exampleInputPassword1" placeholder="請輸入密碼">
            </div>
            <button type="submit" class="btn btn-primary w-100 py-2">登入  &raquo;</button>
          </form>
        </div>
      </div>
    </div> 
  </div>
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>